body {
    background-color: red;
    color: white;
    font-family: "Shadows Into Light", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 20px;
}

button {
    background-color: rgb(255, 255, 167);
    color: blue;
    margin-top: 50px;
    padding: 15px;
    padding-left: 200px;
    padding-right: 200px;
    border-color:rgb(255, 255, 167);
    border-radius: 15px;
    font-size: 20px;
    font-family: "Shadows Into Light", serif;
}


.sticky {
    width: 150px;
    height: auto;
    z-index: 20;
    transform: translate(-230px, 30px);
}

input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%; /* Optional: makes input take full container width */
    box-sizing: border-box;
    background-color: rgb(255, 255, 167);
    color: blue;
    font-family: "Shadows Into Light", serif;
}

select {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%; /* Optional: makes input take full container width */
    box-sizing: border-box;
    background-color: rgb(255, 255, 167);
    color: blue;
    font-family: "Shadows Into Light", serif;
}

select:focus {
    outline: none;
    border-color: #0056b3;
}